.customizerSidebar {
  width: $sidebarWidth;
  background-color: $white;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  transition: 0.2s ease-in;
  margin-right: -$sidebarWidth;
  &.showCustomizer {
    margin-right: 0;
  }
}
.custombtn {
  margin-left: -58px;
  position: fixed;
  top: 50%;
  border-radius: 5px 0 0 5px;
}

.draft-img {
  position: absolute;
  top: 35%;
  left: 43%;
  z-index: 9;
}

.draft-img1 {
  position: absolute;
  top: 0%;
  left: 40%;
  z-index: -9;
}

.draft-img1 img {
  width: 300px;
  height: 250px;
}

.draft-img img {
  width: 300px;
  height: 250px;
}

.draft .table th,
.draft .table td {
  background-color: transparent !important;
  // padding: 10px 5px !important;
}

.table-responsive.draft {
  z-index: 999;
  position: relative;
}

.pd_left {
  padding-left: 20px !important;
}

.draft-imgNill img {
  width: 280px;
  height: 200px;
  background: inherit !important;
  top: 60px;
  left: 40%;
  position: absolute;
}
