.mobile_class .react-international-phone-country-selector button {
  height: 56px !important;
}

.mobile_class .react-international-phone-input-container .react-international-phone-input {
  height: 56px !important;
  width: 100% !important;
  font-size: 16px !important;
  color: #452121;
  font-weight: normal !important;
  // font-family: inherit !important;
}

.react-tel-input .form-control {
  font-family: 'Roboto', sans-serif !important;
}

.add_design_custom{
  font-size: 18px;
  font-weight: 600;
}
