.toggle-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: inherit !important;
}

.toggle-container:hover {
  background-color: inherit !important;
  --bs-table-bg-state: transparent !important;
}

.toggle-switch {
  width: 67px !important; /* 6rem = 96px */
  height: 30px !important; /* 3rem = 48px */
  position: relative;
  border-radius: 24px; /* 1.5rem = 24px */
  background-color: #ccc;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.toggle-switch.on {
  background-color: #278622;
}

.toggle-input {
  display: none;
}

.toggle-handle {
  width: 22px; /* 2.3rem = 36.8px */
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -2px;
  top: 8px;
  margin-left: 8px; /* 0.5rem = 8px */
  cursor: pointer;
  transition: left 0.3s;
}

.toggle-input:checked + .toggle-handle {
  left: calc(100% - 50px); /* 2.8rem = 44.8px */
  margin-left: 59px;
}

.toggle-status {
  color: white;
  margin-left: 16px; /* 3.2rem = 51.2px */
  transition: margin-left 0.3s;
  // font-weight: bold;
  font-size: 14px;
  margin-top: 9px;
}

.toggle-input:checked ~ .toggle-status {
  margin-left: -7px; /* 1rem = 16px */
}
