.card h2 {
  margin-bottom: 5px;
  font-size: 20px;
}

.card p {
  margin: 0;
  // color: #666;
  font-size: 14px;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  background: #f9fafc;
}

.feature-icon {
  background: #eef3ff;
  color: #4a6cf7;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
}

.feature-name {
  font-weight: 500;
}

.feature-left {
  display: flex;
  align-items: center;
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 15px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px 0;
  color: #555;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.total span:last-child {
  color: #4a6cf7;
}

.btn-pay.btn-success {
  display: block;
  text-align: center;
  background: #02ca4f;
  color: white;
  padding: 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.new-card {
  min-height: 490px;
  background-color: #fff;
}

// // .btn i {
// //   margin-right: 8px;
// }
